

@font-face {
	font-family: 'Conv_Gotham-Thin';
	src: url('./../assets/fonts/Gotham-Thin.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-Thin.woff') format('woff'), url('./../assets/fonts/Gotham-Thin.ttf') format('truetype'), url('./../assets/fonts/Gotham-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-ThinItalic';
	src: url('./../assets/fonts/Gotham-ThinItalic.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-ThinItalic.woff') format('woff'), url('./../assets/fonts/Gotham-ThinItalic.ttf') format('truetype'), url('./../assets/fonts/Gotham-ThinItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-XLight';
	src: url('./../assets/fonts/Gotham-XLight.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-XLight.woff') format('woff'), url('./../assets/fonts/Gotham-XLight.ttf') format('truetype'), url('./../assets/fonts/Gotham-XLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-XLightItalic';
	src: url('./../assets/fonts/Gotham-XLightItalic.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-XLightItalic.woff') format('woff'), url('./../assets/fonts/Gotham-XLightItalic.ttf') format('truetype'), url('./../assets/fonts/Gotham-XLightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-Light';
	src: url('./../assets/fonts/Gotham-Light.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-Light.woff') format('woff'), url('./../assets/fonts/Gotham-Light.ttf') format('truetype'), url('./../assets/fonts/Gotham-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_GothamLightItalic';
	src: url('./../assets/fonts/GothamLightItalic.eot');
	src: local('☺'), url('./../assets/fonts/GothamLightItalic.woff') format('woff'), url('./../assets/fonts/GothamLightItalic.ttf') format('truetype'), url('./../assets/fonts/GothamLightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_GothamBook';
	src: url('./../assets/fonts/GothamBook.eot');
	src: local('☺'), url('./../assets/fonts/GothamBook.woff') format('woff'), url('./../assets/fonts/GothamBook.ttf') format('truetype'), url('./../assets/fonts/GothamBook.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-BookItalic';
	src: url('./../assets/fonts/Gotham-BookItalic.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-BookItalic.woff') format('woff'), url('./../assets/fonts/Gotham-BookItalic.ttf') format('truetype'), url('./../assets/fonts/Gotham-BookItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-Bold';
	src: url('./../assets/fonts/Gotham-Bold.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-Bold.woff') format('woff'), url('./../assets/fonts/Gotham-Bold.ttf') format('truetype'), url('./../assets/fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_GothamBoldItalic';
	src: url('./../assets/fonts/GothamBoldItalic.eot');
	src: local('☺'), url('./../assets/fonts/GothamBoldItalic.woff') format('woff'), url('./../assets/fonts/GothamBoldItalic.ttf') format('truetype'), url('./../assets/fonts/GothamBoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-Medium-Bold';
	src: url('./../assets/fonts/GothamMedium.eot');
	src: local('☺'), url('./../assets/fonts/GothamMedium.woff') format('woff'), url('./../assets/fonts/GothamMedium.ttf') format('truetype'), url('./../assets/fonts/GothamMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_GothamMediumBoldItalic';
	src: url('./../assets/fonts/GothamMediumItalic.eot');
	src: local('☺'), url('./../assets/fonts/GothamMediumItalic.woff') format('woff'), url('./../assets/fonts/GothamMediumItalic.ttf') format('truetype'), url('./../assets/fonts/GothamMediumItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Gotham-Black';
	src: url('./../assets/fonts/Gotham-Black.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-Black.woff') format('woff'), url('./../assets/fonts/Gotham-Black.ttf') format('truetype'), url('./../assets/fonts/Gotham-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-UltraItalic';
	src: url('./../assets/fonts/Gotham-UltraItalic.eot');
	src: local('☺'), url('./../assets/fonts/Gotham-UltraItalic.woff') format('woff'), url('./../assets/fonts/Gotham-UltraItalic.ttf') format('truetype'), url('./../assets/fonts/Gotham-UltraItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.Medium-Bold {
    font-family: 'Conv_Gotham-Medium-Bold';
}
.light {
   font-family: 'Conv_Gotham-Light';
}
.light-italic {
	font-family: 'Conv_GothamLightItalic';
}
.Xligth {
    font-family: 'Conv_Gotham-XLight';
}
.thin {
    font-family: 'Conv_Gotham-Thin';
}
.thin-italic {
	font-family: 'Conv_Gotham-ThinItalic';
}
.gothamBook {
	font-family: 'Conv_GothamBook';
}
.GothamBoldItalic {
	font-family: 'Conv_GothamBoldItalic';
}
.Gotham-Medium-Bold{
	font-family: 'Conv_Gotham-Medium-Bold';
}
.GothamMediumBoldItalic {
	font-family: 'Conv_GothamMediumBoldItalic';
}
.Gotham-Black {
	font-family: 'Conv_Gotham-Black';
}
.Gotham-UltraItalic {
	font-family: 'Conv_Gotham-UltraItalic';
}
