// COLORS
$primary_color: '#5cafb5';
$white_color: '#ffffff';
$pale_grey: '#f0f3f9';
$pale_grey_two: '#ededf8';
$pale_grey_three: '#ecf2f2';
$gunmetal: '#546566';
$dark_coral: '#ce5b4c';
$blush: '#e88282';
$gunmetal_70: '#b3546566';